/* CUSTOM DIVIDER COMPONENT */

.custom-divider {
    .custom-divider-container {
        margin: 0 auto;
        line-height: 0;
        max-width: 1440px;

        &.padding {
            max-width: 1440px;
        }
    }
}

/* STAY UPDATED COMPONENT */
.stay-updated {
    padding: 120px 80px;

    .title {
        margin: 0 0 60px 0;
    }

    .stay-updated-alert {
        display: inline-block;
        margin: 10px 0;
    }

    .stay-updated-alert.hidden {
        display: none !important;
    }

    .stay-updated-alert.success {
        background-color: #177B54;
    }

    .stay-updated-alert_wrapper {
        color: #F7F7EF;
        display: flex;
        gap: 10px;
        padding: 10px;
    }
}

.stay-updated_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    .newsletter__subheading {
        font-size: 20px;
        line-height: 160%;
        text-align: left;
    }

    .email-input {
        border: 1px solid #284E99;
        padding: 10px 16px;
    }

    .email-input-wrapper {
        gap: 10px;
    }

    .email-input-wrapper input {
        height: auto !important;
    }

    .email-input-wrapper label, .email-input-wrapper input {
        color: rgba(40, 78, 153, 0.60);
        font-size: 18px;
    }

    .email-input-wrapper label {
        top: calc(1.5rem + var(--inputs-border-width));
    }

    .email-input-wrapper button {
        cursor: pointer;
        font-size: 18px;
        line-height: 26px;
        padding: 16px 32px;
    }

    .email-input-wrapper input:is(:-webkit-autofill, :autofill) {
        color: rgba(40, 78, 153, 0.60) !important;
        background-color: gold !important;
    }

    .email-input-wrapper::after {
        box-shadow: none !important;
    }
}

.stay-updated_wrapper > div {
    flex: 1;
    max-width: 630px;
}

@media only screen and (max-width: 480px) {
    .stay-updated {
        padding: 80px 18px;
    }
    .stay-updated_wrapper {
        flex-direction: column;
    }
    .stay-updated_wrapper .email-input {
        width: 100%;
    }
    .stay-updated_wrapper form {
        flex-direction: column;
    }
}

/* CUSTOM FOOTER */
.custom-carousel {
    max-width: 1440px;
    margin: 120px auto;

    .title {
        margin-top: 0;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 480px) {
    .custom-carousel {
        margin: 60px 18px;

        .splide__slide img {
            width: 100px;
            height: 100px;
        }
    }
}

/* CUSTOM FOOTER */
.custom-footer {
    max-width: 1440px;
    margin: 60px auto;
    padding: 0 80px;

    hr {
        height: 1px;
        margin: 0;
        background-color: #284E99;
    }

    ul {
        padding: 0;
    }

    .custom-footer_outro-container {
        align-items: center;
        border-bottom: 1px solid #284E99;
        border-top: 1px solid #284E99;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 40px 0 20px 0;
        padding: 40px 0;

        .outro-text {
            color: #CC561C;
            font-size: 64px;
            font-style: normal;
            font-weight: 800;
            line-height: 130%;
            margin: 0;
            text-align: center;
        }
    }

    .footer-nav {
        display: flex;
        justify-content: space-between;
        list-style: none;

        a {
            font-size: 24px;
        }
    }

    .social-nav {
        margin: 0;
    }

    .social-nav li {
        margin-right: 24px;

        .svg-wrapper {
            color: #284E99;
            width: 24px !important;
            height: 24px !important;
        }
    }

    .social-nav li, .terms-nav li {
        display: inline-flex;
    }

    .terms-nav li a, .footer-nav li a {
        color: #284E99;
        text-decoration: none;
    }

    .terms-nav li a:hover, .footer-nav li a:hover {
        text-decoration: underline;
    }

    .custom-footer_copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* FEATURED PRODUCTS */
.featured-products {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    .featured-products_background {
        rotate: 165deg;
        max-height: 380px;
        position: absolute;
        left: -100px;
        top: -50px;
        z-index: -1;
    }

    .featured-products_intro {
        height: 300px;
        object-fit: cover;
        margin-top: -80px;
    }

    .featured-products_products-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0;
    }

    .featured-products_products-see-all {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .featured-products {
        .featured-products_products-list {
            gap: 40px;
        }
        .featured-products_products-see-all {
            display: inline-flex;
        }
    }
}

/* CUSTOM CARD PRODUCT */
.custom-card-product {
    color: #284E99;
    display: flex;
    flex-direction: column;
    max-width: 414px;
    text-align: center;
    text-decoration: none;

    .custom-card-product_image-container {
        display: flex;
        flex-direction: column;
        position: relative;

        img {
            height: 664px;
            object-fit: cover;
        }
    }
    h2 {
        margin-top: 20px;
    }
    p {
        text-wrap: balance;
        text-wrap-style: balance;
    }
    .price {
        font-weight: 900;
    }
    .custom-card-product_image-container-buttons {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 16px 0;
        width: 100%;
        transition: opacity 0.3s ease;

        .button {
            width: 100%;
        }

        .button--primary:hover,
        .button--secondary:hover {
            text-decoration: underline;
        }
    }
    .custom-card-product_image-container-buttons.desktop {
        display: flex;
        opacity: 0;
        position: absolute;
        padding: 20px 16px;
        background: #ffffff70;
        bottom: 0;
    }
}
.custom-card-product:hover {
    .custom-card-product_image-container-buttons.desktop {
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
    .custom-card-product {
        .custom-card-product_image-container {
            img {
                height: 420px;
                object-fit: contain;
            }
        }
        .custom-card-product_image-container-buttons.desktop {
            display: none;
        }
        .custom-card-product_image-container-buttons.mobile {
            display: flex;
        }
    }
}

@media only screen and (max-width: 480px) {
    .custom-footer {
        padding: 0 18px;

        .custom-footer_copyright {
            flex-direction: column
        }

        .custom-footer_outro-container {
            gap: 20px;
            padding: 20px 0;

            .outro-text {
                font-size: 24px;
            }
        }

        .footer-nav {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: normal;
        }
    }

    .featured-products {
        margin: 60px 18px;

        .featured-products_background {
            rotate: 165deg;
            max-height: 200px;
            left: -80px;
            top: -80px;
        }

        .featured-products_intro {
            max-width: 340px;
            height: 200px;
        }
    }
}
